.title {
    font-family: Nunito Sans, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49.1px;
    text-align: center;
    color: #FF0000;
}

.desription {
    font-family: Nunito Sans, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49.1px;
    text-align: center;
    color: #fff;
    margin-top: 12px;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    margin-top: 59px;
}

.exit {
    border: 1px solid #4678EA;
}

.save {
    background-color: #4678EA;
    border: 1px solid #4678EA;
}

.save:hover {
    background-color: rgba(70, 120, 234, 0.85);
    border: 1px solid rgba(70, 120, 234, 0.85);
}


.text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.text_area textarea::placeholder {
    font-family: Nunito Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    text-align: left;
    color: #FFFFFF;
}

.text_area textarea {
    height: 85px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: 1px solid #CFCFCF33;
    border-radius: 8px;
    font-family: Nunito Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    text-align: left;
    color: #FFFFFF;
    resize: none;
}

.text_area_title {
    font-family: Nunito Sans, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.55px;
    text-align: left;
    color: #B5B6C4
}
