.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.title {
    font-family: Nunito Sans, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.55px;
    text-align: left;
    color: #B5B6C4
}

.error {
    font-family: Nunito Sans, sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    position: absolute;
    bottom: -14px;
    color: #FF0000BF
}

.input input {
    height: 50px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: 1px solid #CFCFCF33;
    border-radius: 8px;
    font-family: Nunito Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    text-align: left;
    color: #FFFFFF;
}

.input input::placeholder {

    font-family: Nunito Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    text-align: left;
    color: #FFFFFF;
}

.input input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%); /* Меняет цвет иконки на противоположный (белый) */
}

.input input[type="number"]::-webkit-inner-spin-button,
.input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input input[type="number"] {
    -moz-appearance: textfield; /* Для Firefox */
}