.app {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px
}

.cell_text {
    color: #FFFFFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.cell_text_btn {
    color: #4678EA;
    cursor: pointer;
}

.title {
    font-family: Nunito Sans, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    text-align: left;
    color: #FFFFFF;
}

.inputs_box {
    display: flex;
    align-items: center;
    gap: 28px;
    max-width: 828px;
    width: 100%;
}