.app {
    padding: 20px;
}

.cell_text {
    color: #FFFFFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.cell_text_btn {
    color: #4678EA;
    cursor: pointer;
}