.app {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px
}

.cell_text {
    color: #FFFFFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.cell_text_btn {
    color: #4678EA;
    cursor: pointer;
}

.title {
    font-family: Nunito Sans, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    text-align: left;
    color: #FFFFFF;
}

.inputs_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .inputs_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .inputs_box {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 14px;
        max-width: 100%;
        width: 100%;
    }


    .title {
        font-family: Nunito Sans, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 43.65px;
        text-align: center;
        color: #FFFFFF;
    }
}