.input {
    height: 45px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #323D4E;
    padding: 0 19px;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.1px;
    text-align: left;
    color: #fff;
    width: 100%;
}

.input::placeholder {
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.1px;
    text-align: left;
    color: #fff
}